<a href="https://colab.research.google.com/github/emanoelbarreiros/softex/blob/master/modulo1/atividade14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
dados = pd.read_csv("notas_alunos.csv")

In [8]:
dados["media"] = (dados["nota_1"] + dados["nota_2"])/2

In [10]:
dados.loc[dados["media"] >= 7, "situacao"] = "APROVADO"

In [20]:
dados.loc[(dados["media"] < 7) | (dados["faltas"] > 5), "situacao"] = "REPROVADO"

In [21]:
dados

     aluno  nota_1  nota_2  faltas  media   situacao
0   Amadeu     7.0     8.5       0   7.75   APROVADO
1   Eneida     7.5     8.0       0   7.75   APROVADO
2  Emanoel     6.0     4.5      10   5.25  REPROVADO
3     Jose     9.0     9.5       1   9.25   APROVADO

In [23]:
dados["faltas"].max()

10

In [24]:
dados["media"].mean()

7.5

In [26]:
dados["media"].max()

9.25

In [28]:
dados.to_csv("alunos_situacao.csv")